<div class="tab-content">
  <div class="section-header">
    <div class="section-title">
      <ion-icon name="flame"></ion-icon>
      <h3>Aktív kihívások</h3>
    </div>
  </div>

  <div class="challenges-list">
    <div class="challenge-item">
      <div class="challenge-icon">
        <ion-icon name="radio-button-on"></ion-icon>
      </div>
      <div class="challenge-content">
        <h4>25%-kal csökkenteni a heti kibocsátást</h4>
        <span class="challenge-time">4 nap múlva vége</span>
        <div class="challenge-progress">
          <ion-progress-bar value="0.58"></ion-progress-bar>
          <div class="challenge-stats">
            <span>58% kész</span>
            <span class="xp-reward">+100 XP</span>
          </div>
        </div>
      </div>
    </div>

    <div class="challenge-item">
      <div class="challenge-icon">
        <ion-icon name="radio-button-on"></ion-icon>
      </div>
      <div class="challenge-content">
        <h4>Jegyezzen fel tevékenységet 30 napon át</h4>
        <span class="challenge-time">15 / 30 nap</span>
        <div class="challenge-progress">
          <ion-progress-bar value="0.5"></ion-progress-bar>
          <div class="challenge-stats">
            <span>50% kész</span>
            <span class="xp-reward">+200 XP</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-header">
    <h3>Csatlakozz új kihíváshoz!</h3>
  </div>

  <div class="join-challenges">
    <div class="join-challenge-item">
      <div class="join-icon">
        <ion-icon name="radio-button-on"></ion-icon>
      </div>
      <div class="join-info">
        <p class="join-title">Eco Transport</p>
        <p class="join-desc">Használj tömegközlekedést 5 napig</p>
      </div>
      <button class="join-btn">Csatlakozás</button>
    </div>
  </div>
</div>
