<div class="tab-content">

  <div class="section-header">
    <div class="section-title">
      <ion-icon name="flame"></ion-icon>
      <h3>Aktív kihívások</h3>
    </div>
  </div>

  <div class="challenges-list">
    <div class="challenge-item">
      <div class="challenge-icon">
        <ion-icon name="trophy"></ion-icon>
      </div>
      <div class="challenge-content">
        <div class="challenge-header">
          <h4>Weekend Warrior</h4>
          <span class="time-badge">2 nap van hátra</span>
        </div>
        <p class="challenge-desc">Csökkentsd a kibocsátást 30%-kal</p>
        <div class="challenge-progress">
          <ion-progress-bar value="0.65"></ion-progress-bar>
          <div class="challenge-stats">
            <span>65% teljesítve</span>
            <div class="participants">
              <ion-icon name="people"></ion-icon>
              <span>24 résztvevő</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="challenge-item">
      <div class="challenge-icon">
        <ion-icon name="radio-button-on"></ion-icon>
      </div>
      <div class="challenge-content">
        <div class="challenge-header">
          <h4>Zero Waste Week</h4>
          <span class="time-badge green">5 nap van hátra</span>
        </div>
        <p class="challenge-desc">Rögzíts 7 napnyi öko-tevékenységet</p>
        <div class="challenge-progress">
          <ion-progress-bar value="0.43"></ion-progress-bar>
          <div class="challenge-stats">
            <span>3 / 7 nap</span>
            <div class="reward">
              <ion-icon name="flash"></ion-icon>
              <span>+500 XP jutalom</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-header">
    <h3>Csatlakozz új kihíváshoz</h3>
  </div>

  <div class="join-challenges">
    <div class="join-challenge-item">
      <div class="join-icon">
        <ion-icon name="radio-button-on"></ion-icon>
      </div>
      <div class="join-info">
        <p class="join-title">Eco Transport</p>
        <p class="join-desc">Használj tömegközlekedést 5 napig</p>
      </div>
      <button class="join-btn">Csatlakozás</button>
    </div>

    <div class="join-challenge-item">
      <div class="join-icon">
        <ion-icon name="leaf"></ion-icon>
      </div>
      <div class="join-info">
        <p class="join-title">Green Shopping</p>
        <p class="join-desc">Vásárolj 10 helyi terméket</p>
      </div>
      <button class="join-btn">Csatlakozás</button>
    </div>
  </div>
</div>