.scan-button {
  --background: var(--ion-color-secondary);
  --background-hover: var(--ion-color-secondary-tint);
  --border-radius: 12px;
  color: var(--ion-color-primary);
  height: 48px;
  font-weight: 600;
  margin-bottom: 20px;
  text-transform: none;
  
  ion-icon {
    font-size: 1.3rem;
  }
}

.products-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 20px;
  
  .product-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background: transparent;
    border: 1px solid var(--ion-color-light-shade);
    border-radius: 12px;
    
    .product-info {
      h4 {
        color: var(--ion-color-secondary-shade);
        font-size: 0.95rem;
        font-weight: 600;
        margin: 0 0 4px 0;
      }
      
      p {
        color: var(--ion-color-medium);;
        font-size: 0.85rem;
        margin: 0;
      }
    }
    
    .product-impact {
      color: var(--ion-color-primary);
      font-size: 0.95rem;
      font-weight: 600;
      background: var(--ion-color-secondary);
      padding: 4px 10px;
      border-radius: 8px;
    }
  }
}