<ion-content [fullscreen]="true">
  <div class="login-container">

    <ion-card class="login-card">
      <ion-card-header>
        <ion-card-title>Üdv újra!</ion-card-title>
        <p class="card-subtitle">Jelentkezz be, hogy folytasd az öko utad!</p>
      </ion-card-header>

      <ion-card-content>
        <div class="items">
          <ion-item lines="none" class="input-item">
            <ion-label position="stacked">Felhasználónév</ion-label>
            <div class="input-wrapper">
              <ion-icon name="person"></ion-icon>
              <ion-input type="text" placeholder="felhasználónév" [(ngModel)]="username">
              </ion-input>
            </div>
          </ion-item>

          <ion-item lines="none" class="input-item">
            <ion-label position="stacked">Jelszó</ion-label>
            <div class="input-wrapper">
              <ion-icon name="lock-closed"></ion-icon>
              <ion-input [type]="showPassword ? 'text' : 'password'" placeholder="jelszó" [(ngModel)]="password">
              </ion-input>
              <button class="toggle-password" (click)="togglePassword()">
                <ion-icon [name]="showPassword ? 'eye-off' : 'eye'"></ion-icon>
              </button>
            </div>
          </ion-item>
        </div>

        <div class="form-footer">
          <div class="remember-me">
            <ion-checkbox [(ngModel)]="rememberMe"></ion-checkbox>
            <label>Emlékezz rám</label>
          </div>
          <a class="forgot-password">Elfelejtett jelszó?</a>
        </div>

        <ion-button expand="block" class="login-button" (click)="login()">
          Bejelentkezés
        </ion-button>
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>