<div class="tabs-container">
  <div class="tab-button" (click)="navigate('/home')">
    <ion-icon name="home-outline"></ion-icon>
  </div>
  <div class="tab-button" (click)="navigate('/stats')">
    <ion-icon name="bar-chart-outline"></ion-icon>
  </div>
  
  <div class="add-button" (click)="navigate('/activity')">
    <ion-icon name="add-outline"></ion-icon>
  </div>

  <div class="tab-button" (click)="navigate('/social')">
    <ion-icon name="ribbon-outline"></ion-icon>
  </div>
  <div class="tab-button" (click)="navigate('/profile')">
    <ion-icon name="person-outline"></ion-icon>
  </div>
</div>